:root {
  --white: #f8fafc;
  --superLightRed: #fef2f2;
  --lightRed: #fed7d7;
  --red: #f56565;
  --lightGrey: #d1d5db;
  --grey: #364152;
  --darkGrey: #1a202e;
}

body {
  background-color: var(--white);
  /* Layout */
  max-width: 40rem;
  margin: 0 auto !important;
  padding: 0 1rem 0 1rem;
  /* Font */
  font-family: "Inter", sans-serif;
  color: var(--grey);
  line-height: 1.5;
}

hr {
  color: var(--lightGrey);
}

.topMargin {
  margin-top: 2.5rem;
}

::selection {
  background: var(--lightRed); /* WebKit/Blink Browsers */
  text-decoration-color: inherit; /* Chrome */
}

::-moz-selection {
  background: var(--lightRed); /* Gecko Browsers */
}

/* Links */

ul {
  padding-left: 0;
}

li {
  display: inline;
  margin: 1rem;
  margin-left: 0;
}

a {
  text-decoration-color: var(--red);
  text-decoration-thickness: 2px;
  color: var(--darkGrey);
  /* text-underline-position: under; */
}

a:hover {
  color: var(--red);
}

i {
  /* Icons are from fontawesome.com */
  margin-right: 0.5rem;
  color: var(--grey);
  opacity: 0.4;
}

/* Cards */

h3 {
  margin-bottom: 10px;
}

.card {
  border: 1px solid var(--lightGrey);
  padding: 0 1.5rem 0 1.5rem;
  margin: 1rem 0 1rem 0;
  border-radius: 5px;
}

.card:hover {
  background-color: var(--superLightRed);
  transition: 0.3s;
}

.card p {
  margin-top: 10px;
}

.card ul {
  border-top: 1px solid var(--lightGrey);
  padding-top: 5px;
  margin-bottom: 10px;
}

.card ul li {
  font-size: 0.9em;
}
